// @use "base" as *;
// @import url(./_base.scss);

// logo
.logo {
  width: 35%;
  font-size: 1.5em;
  font-weight: 700;
  color: $color-primary;
  cursor: pointer;
  // padding-left: 20px;
  @include pc {
    width: 70%;
  }
}
